* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.big-show {
  height: 100%;
  width: calc(100% - 150px);
}

.item {
  display: none;
  height: 100%;
  width: 100%;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* slide-show */
.slide-show {
  width: 150px;
  height: 100%;
  background-color: black;
}

.item-small {
  height: calc(100% / 5);
  opacity: 0.5;
}

.item-small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.enfa-images {
  opacity: 1;
  border: 1px solid white;
  cursor: pointer;
}

/* ARROWS */
.arrow {
  position: absolute;
  width: 40px;
  background-color: rgba(174, 174, 174, 0.509);
  border-radius: 50px;
  font-weight: 800;
  left: 50%;
  font-size: 30px;
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
}

.next {
  top: 5px;
  z-index: 2;
}

.prev {
  bottom: 5px;
  z-index: 2;
}

.prev:hover,
.next:hover {
  background-color: rgba(174, 174, 174, 1);
}
